<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="http://tempuri.org/VINCIService.xsd">
     <Fiesta_test>
        <FilePath>C:\Inetpub\wwwroot\Fiesta\</FilePath>
    </Fiesta_test>
     <Fiesta>
        <FilePath>\\usfs012\Fiesta_Data\Fiesta_Forms\</FilePath>
    </Fiesta>
    <DATABASE>
		<VEHICLEDATABASE>VEHICLE</VEHICLEDATABASE>
		<VREDATABASE>VRE</VREDATABASE>
	</DATABASE>
	
</Configuration>
